@model ProgressMonitor.Models.UserSettingsViewModel

@{
    ViewBag.Title = "User Settings";
}

<h2>@ViewBag.Title</h2>


<div>
    @using (Html.BeginForm("UserSettings", "UserManagement", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Username)
        for (int i = 0; i < Model.ProjectAccess.Count; i++)
        {
            @Html.HiddenFor(m => m.ProjectAccess[i].ProjectId)
            @Html.CheckBoxFor(m => m.ProjectAccess[i].CanAccess)
            @Html.DisplayFor(m => m.ProjectAccess[i].ProjectName)
            <br/>
        }
        <input type="submit"
               value="Apply"/>
    }
</div>