@model ProgressMonitor.Models.JsonSerialization.JiraProject

@{
    ViewBag.Title = "Project Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Project</h4>
    @Model.Name<br/>
    @Model.Id<br/>
    @Model.Description<br/>
    @Model.Key<br/>
    <img src="@Model.AvatarUrls["32x32"]"
         width="32"
         height="32"/>
    <hr/>
    <h4>Lead</h4>
    @Model.Lead.DisplayName<br/>
    <img src="@Model.Lead.AvatarUrls["32x32"]"
         width="32"
         height="32"/>
    <hr/>
    <h4>Versions</h4>
    @foreach (var version in Model.Versions)
    {
        <a href="@Url.Action("Index", "Version", new { id = version.Id })"><h4>@version.Name</h4></a>
        @version.Id<br/>
        @version.Archived<br/>
        @version.Released<br/>
        @version.StartDate<br/>
        @version.ReleaseDate<br/>
        <hr/>
    }
</div>