@model ProgressMonitor.Models.JsonSerialization.JiraProject

@{
    ViewBag.Title = "Project Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Project</h4>
    <img src="@Model.AvatarUrls["32x32"]"
         width="32"
         height="32"/>
    @Model.Name (@Model.Key)<br/>
    @Model.Description<br />
    <hr/>
    <h4>Lead</h4>
    <img src="@Model.Lead.AvatarUrls["32x32"]"
         width="32"
         height="32"/>
    @Model.Lead.DisplayName
    <hr/>
    <h4>Versions</h4>
    @foreach (var version in Model.Versions)
    {
        <a href="@Url.Action("Index", "Version", new
                 {
                     versionId = version.Id,
                     projectId = Model.Id
                 })">
            <h4>@version.Name</h4>
        </a>
        @version.Id<br/>
        @version.Archived<br/>
        @version.Released<br/>
        @version.StartDate<br/>
        @version.ReleaseDate<br/>
        <hr/>
    }
</div>