@model IReadOnlyCollection<ProgressMonitor.Models.JsonSerialization.JiraProject>

@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

@foreach (var project in Model)
{
    <div>
        <img src="@project.AvatarUrls["32x32"]"
             width="32"
             height="32"/>
        <a href="@Url.Action("Index", "Project", new {id = project.Id})">
            @project.Name
        </a> (@project.Key)
        <hr/>
    </div>
}