@model IReadOnlyCollection<ProgressMonitor.Models.JsonSerialization.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var project in Model)
{
    <div>
        <a href="@Url.Action("Index", "Project", new { id = project.Id })"><h4>@project.Name</h4></a>
        @project.Key<br/>
        @project.Id<br/>
        <img src="@project.AvatarUrls["32x32"]"
             width="32"
             height="32"/>
        <hr/>
    </div>
}

